<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <div id="header"><%- header %></div>
                <h1><%= title %></h1>
                <p>Hello</p>
            </div>
        </div>
        <script type="text/javascript" src="js/app.min.js" charset="utf-8"></script>
    </body>
</html>