<!doctype html>
<html lang="en">

    {{>page/html/head}}

    <body>

        {{>page/after-body-start}}

        {{>page/header}}

        {{{body}}}

        {{>page/footer}}

        {{>page/before-body-end}}
    </body>
</html>