<!doctype html>
<html lang="en">
    {{>page/html/head}}
    <body>
        {{>page/browserhappy}}
        <div class="container">
            {{{body}}}
        </div>
        <script type="text/javascript">var ALL_PROPS = {{{react._allProps}}}</script>
        <script type="text/javascript" src="/js/app.min.js" charset="utf-8"></script>
    </body>
</html>